# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environment
.vscode
# Data (large / regenerable)
data/raw/
data/processed/

# Model artifacts
models/*
!models/.gitkeep
!models/xgb_model.pkl
!models/X_test.pkl

# OS
.DS_Store
Thumbs.db
